h1 {
  color: #153c8e;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  color: #153c8e;
  font-family: Arial, sans-serif;
  text-align: center;
  padding 7px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
