{% extends 'base2.html' %}

{% block content %}
	<br><br><br>
	<div id="topo">
		<img src="{{ url_for('static', filename='img/semear_logo.png') }}" alt="Semear Americana | Semeando em terra fértil">
	</div>

	<hr>
	<br><br>
	<h1>Administração</h1>

	<br><br>

	{% if usuario %}
		<p>Olá {{ usuario }}!</p>
	{% endif %}
    <a href="/logout">Sair</a>

    <h2>Configuração de Contato</h2>
    {% if not contato %}
        <p>Configuração não cadastrada.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Whatsapp</th>
                    <th>Facebook</th>
                    <th>Instagram</th>
                    <th>E-mail</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for contato in contato %}
                    <tr>
                        <td>{{ contato.id }}</td>
                        <td>{{ contato.whatsapp }}</td>
                        <td>{{ contato.facebook }}</td>
                        <td>{{ contato.instagram }}</td>
                        <td>{{ contato.email }}</td>
                        <td>{{ contato.endereco }}</td>
                        <td>
                            <a href="/editar/{{ contato.id }}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

	<br><br>

    <h2>Usuários</h2>
    {% if not usuarios %}
        <p>Nenhuma usuário cadastrado.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Senha</th>
                    <th>Data de criação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.senha }}</td>
                        <td>{{ usuario.created }}</td>
                        <td>
                            <a href="/editar/{{ usuario.id }}">Editar</a>
                            <a href="/remover/{{ usuario.id }}">Remover</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

	<br><br>

	<h2>Postagens</h2>
    {% if not posts %}
        <p>Nenhuma postagem cadastrada.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Conteúdo</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.content }}</td>
                        <td>{{ post.created }}</td>
                        <td>
                            <a href="/editar/{{ post.id }}">Editar</a>
                            <a href="/remover/{{ post.id }}">Remover</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

	<br><br>

{% endblock %}
