{% extends 'base2.html' %}

{% block content %}
	<br><br><br>
	<div id="topo">
		<img src="{{ url_for('static', filename='img/semear_logo.png') }}" alt="Semear Americana | Semeando em terra fértil">
	</div>

	<hr>
	<br><br>
    <h1>Editar Informações de Textos do Site</h1>
    {% if flash %}
        <div class="flash">{{ flash }}</div>
    {% endif %}
    <form action="{{ url_for('edit_textos', id=textos.id) }}" method="post">
        <label for="quem_somos"><b>Quem Somos:</b></label>
		<textarea id="quem_somos" name="quem_somos">{{ textos.quem_somos }}</textarea>
		<script>CKEDITOR.replace('quem_somos');</script>
        <br>
        <hr>
        <label for="visao_semear"><b>Visão Semear:</b></label>
		<textarea id="visao_semear" name="visao_semear">{{ textos.visao_semear }}</textarea>
		<script>CKEDITOR.replace('visao_semear');</script>
        <br>
        <hr>
        <label for="missao_semear"><b>Missão Semear:</b></label>
        <textarea name="missao_semear" id="missao_semear">{{ textos.missao_semear }}</textarea>
		<script>CKEDITOR.replace('missao_semear');</script>
        <br>
        <hr>
        <label for="sobre_a_comunidade"><b>Sobre a Comunidade:</b></label>
        <textarea name="sobre_a_comunidade" id="sobre_a_comunidade">{{ textos.sobre_a_comunidade }}</textarea>
		<script>CKEDITOR.replace('sobre_a_comunidade');</script>
        <br>
        <hr>
        <label for="transparencia"><b>Transparência:</b></label>
        <textarea name="transparencia" id="transparencia">{{ textos.transparencia }}</textarea>
		<script>CKEDITOR.replace('transparencia');</script>
        <br>
        <hr>
        <label for="atividades"><b>Atividades:</b></label>
        <textarea name="atividades" id="atividades">{{ textos.atividades }}</textarea>
		<script>CKEDITOR.replace('atividades');</script>
        <br>
        <hr>
        <label for="parceiros"><b>Parceiros:</b></label>
        <textarea name="parceiros" id="parceiros">{{ textos.parceiros }}</textarea>
		<script>CKEDITOR.replace('parceiros');</script>
        <br>
        <hr>
        <label for="nossa_historia"><b>Nossa História:</b></label>
        <textarea name="nossa_historia" id="nossa_historia">{{ textos.nossa_historia }}</textarea>
		<script>CKEDITOR.replace('nossa_historia');</script>
        <br>
        <hr>
        <label for="novidades"><b>Novidades:</b></label>
        <textarea name="novidades" id="novidades">{{ textos.novidades }}</textarea>
		<script>CKEDITOR.replace('novidades');</script>
        <br>
        <hr>
        <label for="semeie_voluntariado"><b>Voluntariado:</b></label>
        <br>
        <textarea name="semeie_voluntariado" id="semeie_voluntariado">{{ textos.semeie_voluntariado }}</textarea>
		<script>CKEDITOR.replace('semeie_voluntariado');</script>
        <br>
        <hr>
        <label for="semeie_colaboradores"><b>Colaboradores:</b></label>
        <textarea name="semeie_colaboradores" id="semeie_colaboradores">{{ textos.semeie_colaboradores }}</textarea>
		<script>CKEDITOR.replace('semeie_colaboradores');</script>
        <br>
        <hr>
        <label for="semeie_refeicoes"><b>Refeições:</b></label>
        <textarea name="semeie_refeicoes" id="semeie_refeicoes">{{ textos.semeie_refeicoes }}</textarea>
		<script>CKEDITOR.replace('semeie_refeicoes');</script>
        <br>
        <hr>
        <label for="semeie_veiculo"><b>Veículo:</b></label>
        <textarea name="semeie_veiculo" id="semeie_veiculo">{{ textos.semeie_veiculo }}</textarea>
		<script>CKEDITOR.replace('semeie_veiculo');</script>
        <br>
        <hr>
        <label for="semeie_sede_propria"><b>Sede Própria:</b></label>
        <textarea name="semeie_sede_propria" id="semeie_sede_propria">{{ textos.semeie_sede_propria }}</textarea>
		<script>CKEDITOR.replace('semeie_sede_propria');</script>
        <br>
        <hr>
        <label for="semeie_colaboracoes_mensais"><b>Colaboracões Mensais:</b></label>
        <textarea name="semeie_colaboracoes_mensais" id="semeie_colaboracoes_mensais">{{ textos.semeie_colaboracoes_mensais }}</textarea>
		<script>CKEDITOR.replace('semeie_colaboracoes_mensais');</script>
        <br>
        <hr>
        <label for="semeie_colaboracoes_eventuais"><b>Colaboracões Eventuais:</b></label>
        <textarea name="semeie_colaboracoes_eventuais" id="semeie_colaboracoes_eventuais">{{ textos.semeie_colaboracoes_eventuais }}</textarea>
		<script>CKEDITOR.replace('semeie_colaboracoes_eventuais');</script>
        <br>
        <hr>
        <label for="semeie_doacao_materiais"><b>Doação de Materiais:</b></label>
        <textarea name="semeie_doacao_materiais" id="semeie_doacao_materiais">{{ textos.semeie_doacao_materiais }}</textarea>
		<script>CKEDITOR.replace('semeie_doacao_materiais');</script>
        <br>
        <hr>
        <label for="semeie_empresa_que_semeia"><b>Empresa que Semeia:</b></label>
        <textarea name="semeie_empresa_que_semeia" id="semeie_empresa_que_semeia">{{ textos.semeie_empresa_que_semeia }}</textarea>
		<script>CKEDITOR.replace('semeie_empresa_que_semeia');</script>
        <br>
        <hr>
        <input type="submit" value="Confirmar">
    </form>

{% endblock %}