{% extends 'base.html' %}

{% block content %}
	<br><br>
	<div id="topo">
		<img src="{{ url_for('static', filename='img/semear_logo.png') }}" alt="Semear Americana | Semeando em terra fértil">
	</div>

	<hr>

	<div id="quemsomos">
		<br><br><br>
		<h1>Quem Somos</h1>
		A Semear Americana é uma Organização da Sociedade Civil, inscrita sob o CNPJ 32.787.100/0001-04, fundada em 2016 que atende mais de 150 crianças e adolescentes em situação de vulnerabilidade social na comunidade do Zincão e arredores, localizada no bairro Parque da Liberdade, cidade de Americana. Estamos empenhados em proporcionar um ambiente enriquecedor de oportunidades que contribuam para o desenvolvimento integral desses jovens, promovendo transformações positivas em suas vidas e impactando na comunidade em que estão inseridos.
		<br><br>
		Em 2016 nasceu a Semear, um sonho realizado de nossa presidente e fundadora Bianca Vanessa Cordasso Ferraz, uma voluntária que dedica sua vida à este trabalho com muito amor e determinação!

		<hr>

		<br>
		<h2>Visão Semear</h2>
		Buscamos ser referência na transformação de vidas, reconhecendo que a mudança em crianças e adolescentes reverbera em suas famílias. Apresentamos diversas possibilidades e recursos, visando criar uma comunidade em que todos possuam acesso aos meios necessários para construir uma realidade distinta da experienciada, promovendo assim autonomia e superação de adversidades iniciais. Nosso compromisso reside em impactar positivamente não apenas indivíduos, mas também as estruturas familiares e a comunidade como um todo.

		<hr>

		<br>
		<h2>Missão Semear</h2>
		Almejamos promover o desenvolvimento integral de crianças e adolescentes em situação de vulnerabilidade social. Para isso, criamos um ambiente que abrange o crescimento físico, cognitivo, emocional e social, oferecendo oportunidades educacionais, esportivas, culturais e sociais, atendendo além das necessidades básicas e contribuindo para a formação desses indivíduos como seres humanos. Dessa forma, buscamos não apenas transformar vidas individualmente, mas também contribuir para a construção de uma sociedade resiliente, justa e promissora.

		<hr>
	</div>

	<br>

	<div id="acomunidade">
		<br><br><br>
		<h1>Sobre a Comunidade</h1>
		A comunidade do Zincão, erguida em uma área de preservação ambiental, abriga mais de 200 submoradias em condições precárias, desprovidas de saneamento básico e sujeitas ao risco iminente de deslizamento ou desocupação. Nesse cenário, a presença diária e constante do tráfico de drogas expõe impiedosamente crianças e adolescentes a tais circunstâncias. Diante das experiências vividas, a Semear Americana dedica-se a impulsionar as crianças e adolescentes, oferecendo-lhes uma visão de futuro promissor. A organização compromete-se em acolher, ensinar e proteger esses jovens, garantindo que seus direitos sejam preservados e proporcionando um ambiente que estimule o desenvolvimento positivo e a construção de um futuro mais promissor.

		<br><br>

		<center>
			<img id="imagem" src="" alt="Imagem docarrossel">
			<br><br>
			<button id="anterior">Anterior</button>
			<button id="proxima">Próxima</button>

			<script>
				const urlProxima = '{{ url_for('proxima') }}';
				const urlAnterior = '{{ url_for('anterior') }}';
				const intervaloTroca = 5000; // Troca a imagem a cada 5 segundos

				let imagemAtual = document.getElementById('imagem');

				function trocarImagem(url) {
					fetch(url)
						.then(response => response.json())
						.then(data => {
							imagemAtual.src = '{{ url_for('static', filename='') }}' + data.imagem; // Removed extra comma and closing parenthesis
						});
				}

				setInterval(() => {
					trocarImagem(urlProxima);
				}, intervaloTroca);

				document.getElementById('anterior').addEventListener('click', () => {
					trocarImagem(urlAnterior);
				});

				document.getElementById('proxima').addEventListener('click', () => {
					trocarImagem(urlProxima);
				});
			</script>
		</center>

		<br>

		<hr>
	</div>

	<br>

	<div id="historia">
		<br><br><br>
		<h1>Nossa História</h1>
		A comunidade do Zincão, erguida em uma área de preservação ambiental, abriga mais de 200 submoradias em condições precárias, desprovidas de saneamento básico e sujeitas ao risco iminente de deslizamento ou desocupação. Nesse cenário, a presença diária e constante do tráfico de drogas expõe impiedosamente crianças e adolescentes a tais circunstâncias. Diante das experiências vividas, a Semear Americana dedica-se a impulsionar as crianças e adolescentes, oferecendo-lhes uma visão de futuro promissor. A organização compromete-se em acolher, ensinar e proteger esses jovens, garantindo que seus direitos sejam preservados e proporcionando um ambiente que estimule o desenvolvimento positivo e a construção de um futuro mais promissor.

		<br>

		<hr>
	</div>

	<br>

	<div id="atividades">
		<br><br><br>
		<h1>Trabalhos e atividades desenvolvidos durante o ano</h1>
		<br>
		<h2>Oficinas temáticas por faixa etária</h2>
		Registrada e regularizada no Conselho Municipal dos Direitos da Criança e do Adolescente, órgão responsável pelas políticas públicas de defesa de direitos e promoção do bem estar social da criança e do adolescente no Município.
		<br><br>
		<h2>Aulas e cursos profissionalizantes</h2>
		Registrada e regularizada no Conselho Municipal de Assistência Social, orgão responsável por orientar, fiscalizar e formular a política pública de assistência social no município.
		<br><br>
		<h2>Eventos e datas comemorativas</h2>
		Reconhecimento da Semear como entidade civil que presta serviços, de acordo com o seu objetivo social, de interesse para toda a coletividade.
		<br><br>
		<h2>Ações assistencialistas e apoio às famílias</h2>
		Reconhecimento da Semear como entidade civil que presta serviços, de acordo com o seu objetivo social, de interesse para toda a coletividade.
		<hr>
		<br>

	</div>

	<br>

	<div id="parceiros">
		<br><br><br>
		<h1>Parceiros</h1>
		A comunidade do Zincão, erguida em uma área de preservação ambiental, abriga mais de 200 submoradias em condições precárias, desprovidas de saneamento básico e sujeitas ao risco iminente de deslizamento ou desocupação. Nesse cenário, a presença diária e constante do tráfico de drogas expõe impiedosamente crianças e adolescentes a tais circunstâncias. Diante das experiências vividas, a Semear Americana dedica-se a impulsionar as crianças e adolescentes, oferecendo-lhes uma visão de futuro promissor. A organização compromete-se em acolher, ensinar e proteger esses jovens, garantindo que seus direitos sejam preservados e proporcionando um ambiente que estimule o desenvolvimento positivo e a construção de um futuro mais promissor.

		<br><br><br>

		<center>
			<a href="https://www.univesp.br/"><img src="{{ url_for('static', filename='img/univesp.png') }}" alt="UNIVESP"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.univesp.br/"><img src="{{ url_for('static', filename='img/univesp.png') }}" alt="UNIVESP"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.univesp.br/"><img src="{{ url_for('static', filename='img/univesp.png') }}" alt="UNIVESP"></a>
			<br><br><br>
			<a href="https://www.univesp.br/"><img src="{{ url_for('static', filename='img/univesp.png') }}" alt="UNIVESP"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.univesp.br/"><img src="{{ url_for('static', filename='img/univesp.png') }}" alt="UNIVESP"></a>
		</center>

		<br><br>

		<hr>
	</div>

	<br>

	<div id="transparencia">
		<br><br><br>
		<h1>Transparência</h1>
		A comunidade do Zincão, erguida em uma área de preservação ambiental, abriga mais de 200 submoradias em condições precárias, desprovidas de saneamento básico e sujeitas ao risco iminente de deslizamento ou desocupação. Nesse cenário, a presença diária e constante do tráfico de drogas expõe impiedosamente crianças e adolescentes a tais circunstâncias. Diante das experiências vividas, a Semear Americana dedica-se a impulsionar as crianças e adolescentes, oferecendo-lhes uma visão de futuro promissor. A organização compromete-se em acolher, ensinar e proteger esses jovens, garantindo que seus direitos sejam preservados e proporcionando um ambiente que estimule o desenvolvimento positivo e a construção de um futuro mais promissor.

		<br><br>

		<h2>Cadastros e certificações</h2>
		Devidamente regularizados, atendemos todos os requisitos legais para nosso funcionamento. Com inscrições em conselhos, utilidade pública e reconhecimento pela rede municipal a Organização demonstra um compromisso sério e transparente com nossas operações, fundamental para o sucesso e impacto positivo das atividades realizadas.
		<br><br>
		<h3>Inscrita no CMDCA</h3>
		Registrada e regularizada no Conselho Municipal dos Direitos da Criança e do Adolescente, órgão responsável pelas políticas públicas de defesa de direitos e promoção do bem estar social da criança e do adolescente no Município.
		<br><br>
		<h3>Inscrita no CMAS</h3>
		Registrada e regularizada no Conselho Municipal de Assistência Social, orgão responsável por orientar, fiscalizar e formular a política pública de assistência social no município.
		<br><br>
		<h3>Utilidade Pública</h3>
		Reconhecimento da Semear como entidade civil que presta serviços, de acordo com o seu objetivo social, de interesse para toda a coletividade.

		<hr>
	</div>

	<br><br>

	<div id="novidades">
		<br><br><br>
		<h1>Novidades</h1>
		<br>
		{% for post in posts %}
			<a href="{{ url_for('post', post_id=post['id']) }}">
				<h3>{{ post['title'] }}</h3>
			</a>
			<span class="badge badge-primary">{{ post['created'] }}</span>
			<hr>
		{% endfor %}
	</div>

	<br>

	<div id="contato">
		<br><br><br>
		<h1>Contato</h1>
		<br>
		<center>
			{% for contato in contato %}
				<a href="{{ contato['instagram'] }}">
				  <img src="{{ url_for('static', filename='img/instagram.png') }}" alt="Instagram" width="40" height="40">
				</a>&nbsp;&nbsp;&nbsp;
				<a href="{{ contato['facebook'] }}">
				  <img src="{{ url_for('static', filename='img/facebook.png') }}" alt="Facebook" width="40" height="40">
				</a>&nbsp;&nbsp;&nbsp;
				<a href="https://api.whatsapp.com/send?phone={{ contato['whatsapp'] }}&text=Olá! Venho a partir do site.">
				  <img src="{{ url_for('static', filename='img/whatsapp.png') }}" alt="Whatsapp" width="40" height="40">
				</a>
				<br><br>
				<a href="mailto:{{ contato['email'] }}">{{ contato['email'] }}</a>
				<br><br>
				{{ contato['endereco'] }}
			{% endfor %}
			<br><br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.486363511451!2d-47.356517399999994!3d-22.7101571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c89b6e03208687%3A0xb54ea813e9bafa54!2sR.%20Serra%20de%20Maracaj%C3%BA%2C%20124%20-%20Parque%20da%20Liberdade%2C%20Americana%20-%20SP%2C%2013470-441!5e0!3m2!1spt-BR!2sbr!4v1711503381877!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</center>
	</div>

{% endblock %}
