{% extends 'base.html' %}

{% block content %}
	<br><br>
	<div id="topo">
		<img src="{{ url_for('static', filename='img/semear_logo.png') }}" alt="Semear Americana | Semeando em terra fértil">
	</div>

	<hr>

	<div id="quemsomos">
		<br><br><br>
		<h1>Quem Somos</h1>

		{% autoescape off %}
		{% for texto in textos %}
		  {{ texto['quem_somos'] }}
		{% endfor %}
		{% endautoescape %}

		<hr>

		<br>
		<h2>Visão Semear</h2>
		{% autoescape off %}
		{% for texto in textos %}
		  {{ texto['visao_semear'] }}
		{% endfor %}
		{% endautoescape %}

		<hr>

		<br>
		<h2>Missão Semear</h2>
		{% autoescape off %}
		{% for texto in textos %}
		  {{ texto['missao_semear'] }}
		{% endfor %}
		{% endautoescape %}

		<hr>
	</div>

	<br>

	<div id="acomunidade">
		<br><br><br>
		<h1>Sobre a Comunidade</h1>
		{% autoescape off %}
		{% for texto in textos %}
		  {{ texto['sobre_a_comunidade'] }}
		{% endfor %}
		{% endautoescape %}

		<br><br>

		<center>
			<img id="imagem" src="" alt="Imagem do carrossel">
			<br><br>
			<button id="anterior">Anterior</button>
			<button id="proxima">Próxima</button>

			<script>
				const urlProxima = '{{ url_for('proxima') }}';
				const urlAnterior = '{{ url_for('anterior') }}';
				const intervaloTroca = 5000; // Troca a imagem a cada 5 segundos

				let imagemAtual = document.getElementById('imagem');

				function trocarImagem(url) {
					fetch(url)
						.then(response => response.json())
						.then(data => {
							imagemAtual.src = '{{ url_for('static', filename='') }}' + data.imagem; // Removed extra comma and closing parenthesis
						});
				}

				setInterval(() => {
					trocarImagem(urlProxima);
				}, intervaloTroca);

				document.getElementById('anterior').addEventListener('click', () => {
					trocarImagem(urlAnterior);
				});

				document.getElementById('proxima').addEventListener('click', () => {
					trocarImagem(urlProxima);
				});
			</script>
		</center>

		<br>

		<hr>
	</div>

	<br>

	<div id="historia">
		<br><br><br>
		<h1>Nossa História</h1>
		{% autoescape off %}
		{% for texto in textos %}
		  {{ texto['nossa_historia'] }}
		{% endfor %}
		{% endautoescape %}

		<br>

		<hr>
	</div>

	<br>

	<div id="atividades">
		<br><br><br>
		<h1>Trabalhos e atividades desenvolvidos durante o ano</h1>
		{% autoescape off %}
		{% for texto in textos %}
		  {{ texto['atividades'] }}
		{% endfor %}
		{% endautoescape %}

		<br>
		<hr>
		<br>

	</div>

	<br>

	<div id="parceiros">
		<br><br><br>
		<h1>Parceiros</h1>
		{% autoescape off %}
		{% for texto in textos %}
		  {{ texto['parceiros'] }}
		{% endfor %}
		{% endautoescape %}

		<br><br><br>

		<center>
			<a href="https://www.univesp.br/"><img src="{{ url_for('static', filename='img/univesp.png') }}" alt="UNIVESP"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.univesp.br/"><img src="{{ url_for('static', filename='img/univesp.png') }}" alt="UNIVESP"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.univesp.br/"><img src="{{ url_for('static', filename='img/univesp.png') }}" alt="UNIVESP"></a>
			<br><br><br>
			<a href="https://www.univesp.br/"><img src="{{ url_for('static', filename='img/univesp.png') }}" alt="UNIVESP"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.univesp.br/"><img src="{{ url_for('static', filename='img/univesp.png') }}" alt="UNIVESP"></a>
		</center>

		<br><br>

		<hr>
	</div>

	<br>

	<div id="transparencia">
		<br><br><br>
		<h1>Transparência</h1>
		{% autoescape off %}
		{% for texto in textos %}
		  {{ texto['transparencia'] }}
		{% endfor %}
		{% endautoescape %}

		<br>
		{% if reports %}
		<h3>Documentos</h3>
		<a href="{{ url_for('reports') }}">Acesse nossos documentos.</a>
		{% endif %}

		<hr>
	</div>

	<br><br>

	<div id="novidades">
		<br><br><br>
		<h1>Novidades</h1>
		{% autoescape off %}
		{% for texto in textos %}
		  {{ texto['novidades'] }}
		{% endfor %}
		{% endautoescape %}

		<br>
		{% autoescape off %}
		{% for post in (posts|sort(attribute='created', reverse=True))[:3] %}
			<a href="{{ url_for('post', post_id=post['id']) }}">
				<h3>{{ post['title'] }}</h3>
			</a>
			<span class="badge badge-primary">{{ post['created'] }}</span>
			<hr>
		{% endfor %}
		{% endautoescape %}

		<br>
		<a href="{{ url_for('posts') }}">Acesse as postagens anteriores.</a>

	</div>

	<br>

	<div id="contato">
		<br><br><br>
		<h1>Contato</h1>
		<br>
		<center>
			{% for contato in contato %}
				<a href="{{ contato['instagram'] }}">
				  <img src="{{ url_for('static', filename='img/instagram.png') }}" alt="Instagram" width="40" height="40">
				</a>&nbsp;&nbsp;&nbsp;
				<a href="{{ contato['facebook'] }}">
				  <img src="{{ url_for('static', filename='img/facebook.png') }}" alt="Facebook" width="40" height="40">
				</a>&nbsp;&nbsp;&nbsp;
				<a href="https://api.whatsapp.com/send?phone={{ contato['whatsapp'] }}&text=Olá! Venho a partir do site.">
				  <img src="{{ url_for('static', filename='img/whatsapp.png') }}" alt="Whatsapp" width="40" height="40">
				</a>
				<br><br>
				<a href="mailto:{{ contato['email'] }}">{{ contato['email'] }}</a>
				<br><br>
				{{ contato['endereco'] }}
			{% endfor %}
			<br><br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.486363511451!2d-47.356517399999994!3d-22.7101571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c89b6e03208687%3A0xb54ea813e9bafa54!2sR.%20Serra%20de%20Maracaj%C3%BA%2C%20124%20-%20Parque%20da%20Liberdade%2C%20Americana%20-%20SP%2C%2013470-441!5e0!3m2!1spt-BR!2sbr!4v1711503381877!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</center>
	</div>

{% endblock %}
